# File Name: ${HOME}/bin/data/hp3k_sim.config
# Version  : B.00.00
#
# Configuration file for hp3k_sim an HP3000 MPE/V Simulator Utility.

;===============================================================================
;      PLEASE READ THE FOLLOWING BEFORE MAKING ANY CHANGES TO THIS FILE.
;
; Lines starting with # (hash) or ; (semi-colon) are treated as comments and
; are ignored during parsing. Comments must appear on a line on their own.
; Leading whitespace is automatically removed.
;
; Blank lines are ignored and can separate sections/keys for easy reading.
;
; Sections:
;
;   Lines starting with [ and ending with ] are Section headers and MUST be
;   unique in the file.
;
; Keys and Values:
;
;   All other lines in the file are assumed to be Key/Value pairs. A Key can
;   appear in multiple Sections as it is treated as a unique item.
;
;   The = (equal) character is used to separate a Key from its Value. Spaces
;   are allowed before and after the = character.
;
;     For example: key=value
;                  key = value
;

;===============================================================================

[simulators]
; Declares the available HP3000 Simulators.

; The list of available simulators.
simulator 1 = Series 58 Release 15 (David Bryan)
simulator 2 = Series 58 Release 3.1 (Gavin Scott)
simulator 3 = Series III Release 15
simulator 4 = Series III Release 15 [Remote]
; The next 2 entries are for the authors own simulator setup.
simulator 5 = Series 58 [Shared Console]
simulator 6 = Series 58 [Separate Consoles]
; Note:   ^ DO NOT skip any numbers in the above sequence.

; Which simulator above is the default selected option?
default = 5

;===============================================================================

; Each of the available Simulators, listed above, must have a corresponding
; [simulator n] and [convertor n] section containing the following keys:
;
; [simulator n]
;
;   directory     The directory where the simulator can be found.
;                 This value will be appended to the users HOME directory.
;
;   script        The SimH startup script within the simulator directory that
;                 is to be executed. Append any required parameters.
;
;   source        Where the simulator will output the Line Printer data to be
;                 converted into PDF files. Valid values are:
;                   * The IP Address and TCP Port (seperated by a colon).
;                   * filename[.ext] (assumed to be located in 'directory').
;                   * Leave the value blank if the simulator does not support
;                     the Line Printer to PDF Convertor.
;
; [convertor n]
;
;   lines per bar Sets the number of lines used by the alternate bars in the PDF
;                 file. Set to a value of 0 (zero) if you want the PDF files to
;                 default to no bars.
;
;   bar colours   The list of colours that can be used for the alternate bars
;                 in the PDF file. Prefix default colour name with a ^.
;                 Seperate colour names with a !.
;
;   directory     The directory where the PDF files will be saved.
;                 This value will be appended to the users HOME directory.
;
;   system name   Any value set for this key will 1) prefix the Status Messages
;                 displayed in the Convertor Terminal Window, 2) ?, 3) ?. 
;
;   printer name  Any value set for this key will 1) prefix the Status Messages
;                 displayed in the Convertor Terminal Window, 2) ?, 3) ?. 
;

;-------------------------------------------------------------------------------
; Series 58 Release 15 (David Bryan)
; Simulator Terminal Window used by SimH Console and HP3000 Console.

[simulator 1]

directory = /HP3000/Series_58_DB
script = mpe-ve-auto
source = printer.txt

[convertor 1]

lines per bar = 3
bar colours = ^Green!Blue!Orange!Grey
directory = /HP3000/PDF_Prints
system name =
printer name =

;-------------------------------------------------------------------------------
; Series 58 Release 3.1 (Gavin Scott)
; Simulator Terminal Window used by SimH Console and HP3000 Console.

[simulator 2]

directory = /HP3000/Series_58_GS
script = autostart
source = "127.0.0.1:1043"

[convertor 2]

lines per bar = 3
bar colours = ^Green!Blue!Orange!Grey
directory = /HP3000/PDF_Prints
system name =
printer name =

;-------------------------------------------------------------------------------
; Series III Release 15
; Simulator Terminal Window used by SimH Console and HP3000 Console.

[simulator 3]

directory = /HP3000/Series_III
script = mpe-auto
source = printer.txt

[convertor 3]

lines per bar = 3
bar colours = ^Green!Blue!Orange!Grey
directory = /HP3000/PDF_Prints
system name =
printer name =

;-------------------------------------------------------------------------------
; Series III Release 15 [Remote]
; Simulator Terminal Window used by SimH Console and HP3000 Console.

[simulator 4]

directory = /HP3000/Series_III
script = mpe-remote-auto
source = printer-remote.txt

[convertor 4]

lines per bar = 3
bar colours = ^Green!Blue!Orange!Grey
directory = /HP3000/PDF_Prints
system name =
printer name =

;-------------------------------------------------------------------------------
; Series 58 [Shared Console]
; Simulator Terminal Window used by SimH Console and HP3000 Console.

[simulator 5]

directory = /HP3000/Series_58
script = CoolStart SHARED
source = "127.0.0.1:1043"

[convertor 5]

lines per bar = 3
bar colours = ^Green!Blue!Orange!Grey
directory = /HP3000/PDF_Prints
system name =
printer name =

;-------------------------------------------------------------------------------
; Series 58 [Separate Consoles]
; Simulator Terminal Window ONLY used by SimH Console.
; The HP3000 Console is re-directed to an HP3000 Terminal Emulator.

[simulator 6]

directory = /HP3000/Series_58
script = CoolStart SEPARATE
source = "127.0.0.1:1043"

[convertor 6]

lines per bar = 3
bar colours = ^Green!Blue!Orange!Grey
directory = /HP3000/PDF_Prints
system name =
printer name =

;===============================================================================

[simulator window]
; The following keys set the defaults for the Simulators Terminal Window.
; The normal size of the terminals used by an HP3000 is 80 columns x 24 rows.

; The number of columns to be displayed in the window.
columns = 80

; The number of lines (rows) to be displayed in the window.
rows = 44

; Where to position the top-left corner of the Terminal Window.
; If the X Coordinate is greater than the 'screen width' then it is assumed that
; there is another screen to the right of the current screen.
; Note: The X and Y Coordinate values are in Pixels. The Pixel value for the
; 'screen width' is available from the Linux Display Settings app.
x coordinate = 1920
y coordinate = 0

; Sets the size of the text in the window. It is limited between 0.50 (1/2 size
; or 50%) and 1.50 (1 1/2 size or 150%).
zoom factor = 0.80

;===============================================================================

[convertor window]
; The following keys set the defaults for the Convertors Terminal Window.
; See the '[simulator window] section' for the key descriptions.

columns = 80
rows = 10
x coordinate = 1920
y coordinate = 606
zoom factor = 0.80

;===============================================================================
; End of Configuration File.
